body{
	background-color: blue;
	margin: 0px;
}
.content{
	background-image: url('../img/bannerLa.png');
	
	/* responsive */
	max-width: 570px; /* Ajuste necesario ya que en este caso la imagen mide 570px */
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: right top;
	/* ajuste para logo */
	position: relative;
	height: 203px;
}
.logo{
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	bottom: 15px;
	left: 15px;
}
.blog{
	background-color: red;
	margin: 20px auto 0;
	max-width: 570px;
	padding: 15px;
	box-sizing: border-box;
}
.blog_img{
	width: 60px;
	height: 60px;
	margin: 10px;
	border: 3px solid green;
	background-color: yellow;
	float: left;
}