body{
	background-color: blue;
	margin: 0px;
}
.content{
	background-image: url('../img/bannerLa.png');
	height: 360px;
	/* responsive */
	max-width: 570px; /* Ajuste necesario ya que en este caso la imagen mide 570px */
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: right top;
}